<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/login" method="GET">
        <table>
            <tr><td>NAME</td></tr>
            <td><input type="text" name="uname"></td>
            <tr>
                <td>PASSWORD</td>
            </tr>
            <td><input type="password" name="pass"></td>
            <tr><td><input type="submit"></td></tr>
        </table>
    </form>
</body>
</html>